<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
        <p>Curabitur auctor nisi nec justo tincidunt, vel scelerisque felis aliquet et venenatis eros.</p>
        <p>Phasellus et diam eget nunc malesuada volutpat id nec neque fermentum venenatis.</p>
        <p>Aenean feugiat ligula a libero tincidunt, in pharetra nisi tincidunt fusce auctor.</p>
    </div>
    <%- include('./partials/footer.ejs') %>   
</body>
</html>


